<!DOCTYPE html>
<html>
  <head>
    <title>Search Books</title>
  </head>
  <body>
    <header>
      <h2>Search by Title or by Author</h2>
    </header>
    <main>
      <input type="text" name="Search" placeholder="Enter Title or Author" required>
      Title <input type="radio" name="Search" value="Title" required>
      Author <input type="radio" name="Search" value="Author" required>
      <button type="submit">Search the Google Book API</button>
    </main>
  </body>
</html>